@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

/* index */

.hero {
  height: 60vh;
  border-radius: 0 0 2% 2%;
  background-image: url("./src/bg.png");
  background-size: cover;
  background-position: center;
}

.btn {
  height: 20vh;
}

/* Categories */

.heading {
  height: 20%;
}

.main {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  background-image: url("./src/bg.png");
  background-size: cover;
  background-position: center;
  transform: blur(0);
  transition: all 200ms ease;
}

/* Game */

.scale0 {
  transform: scale(0);
  transition: all 300ms ease;
  opacity: 0;
}

.game {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  transform: scale(1);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 200ms ease;
}

.blur {
  filter: blur(5px) brightness(0.9);
  transition: all 200ms ease;
  transform: scale(0.9);
}

#scale1 {
  transform: scale(1);
  transition: all 200ms ease;
  opacity: 1;
}

.tap {
  text-shadow: 0 0 100px #3c366b;
  color: #3c366b;
}

.pg-bar {
  transition: all 200ms ease-in-out;
}